<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
		{% endblock %}
    </head>
    <body>
		{% block titre %}{% endblock %}
		{% block menu %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
		{% endblock %}
    </body>
</html>
